.header {
  padding: 2rem 0;
  background-color: var(--fourth);
  color: var(--primary);
}
.header-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
